<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Hotel Booking System')"></head>
<body>
	<div th:replace="fragments/header :: header(Auth=${Auth})"></div>

	<div class="mx-auto w-50">
		<div class="my-2">部屋一覧</div>
		
		<div class="row d-flex flex-row justify-content-between">		
			<div class="col-3" th:each="room : ${rooms}" th:object="${room}" >
				<div 
					class="text-center py-5 border" 
					th:text="*{roomNumber}" 
					style="border-radius: 10px;margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1}? 'background-color: #E1E1E1;cursor: not-allowed! important;':'background-color: white;cursor:pointer'"
				></div>
			</div>
		</div>
	</div>
</body>
</html>