<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Hotel Booking System')"></head>
<body>
	<div th:replace="fragments/header.html :: header(Auth=${Auth})"></div>

	<div class="mx-auto w-50">
		<div class="mb-3">部屋一覧</div>
		<div class="row d-flex flex-row justify-content-between parent">

			<div th:if="${Auth}" class="col-3" th:each="room : ${rooms}"
				th:object="${room}">
				<div th:if="${Auth.id==room.bookUserId}" th:cancel-able="1"
					th:id="*{id}" th:flag="*{lendFlag}" th:choose="0"
					class="text-center py-5 border room" th:text="*{roomNumber}"
					style="border-radius: 15px; margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1}? 'background-color: #03A800;cursor: pointer;' :'background-color: white; cursor: pointer' ">
				</div>
				<div th:if="${Auth.id!=room.bookUserId}" th:id="*{id}"
					th:flag="*{lendFlag}" th:choose="0"
					class="text-center py-5 border room" th:text="*{roomNumber}"
					style="border-radius: 15px; margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1}? 'background-color: #E1E1E1;cursor: not-allowed! important;' :'background-color: white; cursor: pointer' ">
				</div>
			</div>
			<!--  -->
			<div th:if="${Auth==null}" class="col-3" th:each="room : ${rooms}"
				th:object="${room}">
				<div th:id="*{id}" th:flag="*{lendFlag}" th:choose="0"
					class="text-center py-5 border room" th:text="*{roomNumber}"
					style="border-radius: 15px; margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1} ? 'background-color: #E1E1E1;cursor: not-allowed! important;' : 'background-color: white; cursor: pointer' ">
				</div>
			</div>


			<form th:action="@{/booking/create}" method="post">
				<input name="id" type="hidden" value="0">
			</form>

			<div id="cretae-booking"
				class="btn btn-primary mt-3 d-flex flex-row justify-content-center"
				style="height: 45px; border-radius: 10px">予約</div>
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade show" id="cancelRoomModel" tabindex="-1"
		role="dialog" aria-labelledby="cancel room model"
		aria-hidden="true" >
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content" style="border-radius: 20px">
				<div class="modal-header">
					<h5 class="modal-title d-flex flex-row items-center justify-content-center w-100" id="exampleModalLongTitle">部屋予約キャンセル</h5>
					<i class="bi bi-x-lg h2" style="color:#CDCDCD"></i>
				</div>
				<div class="modal-body text-center">Room 6の予約をキャンセルします、よろしいでしょうか？</div>
				<div class="modal-footer d-flex flex-row justify-content-center">
					<button type="button" style="width: 150px;background: #0085FF;border-radius: 10px;" class="btn btn-primary">OK</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#cancelRoomModel').modal('show')
			// select
			$('.room').click(function(e) {
				let id = this.id;
				let avaliable = $(this).attr('flag') == 0 ? true : false;
				let isSelected = $(this).attr('choose') == 1 ? true : false;
				let cancelAble = $(this).attr('cancel-able') == 1? true : false;
				if (avaliable) {
					if (isSelected) {
						$(this).css('background-color', 'white');
						$(this).attr('choose', '0');
						$('input[name="id"]').attr('value','');
					} else {
						$(this).css('background-color', '#09E705');
						$(this).attr('choose', '1');
						$('input[name="id"]').attr('value',id);
						release(id);
					}
				}else if(cancelAble){
					// here cancel booking
					// alert("hello world");
				}
			});
			// relse
			const release = (current)=>{
				$('.parent > div > div').each(function() {
					let id = this.id;
					let avaliable = $(this).attr('flag') == 0 ? true : false;
					// let isSelected = $(this).attr('choose') == 1 ? true : false;
					// console.log($(this)); //log every element found to console output
					if(current!=id && avaliable){
						$(this).css('background-color', 'white');
						$(this).attr('choose', '0');
					}
				});
			}
			// booking function
			// th:action="@{/booking/create}"
			$("#cretae-booking").click((e)=>{
				let roomId = $('input[name="id"]').attr('value');
				console.log(roomId);
				if(roomId){
					$("form").submit();
				}else{
					alert("Please Select Room First");
				}
			});
			const booking = ()=>{
				
			}
		});
	</script>
</body>
</html>