<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Hotel Booking System')"></head>
<body>
	<!-- reciever -->
	<input type="hidden" name="order-success" th:value="${orderSuccess}">
	<!-- reciever -->
	
	<div th:replace="fragments/header.html :: header(Auth=${Auth})"></div>

	<div class="mx-auto w-50">
		<div class="d-flex flex-row justify-content-between items-center mb-3">
			<div class="my-auto">部屋一覧</div>
			<a th:if="${Auth}" th:href="@{/booking/history}" class="btn btn-info text-blue" style="text-decoration: none;">予約履歴</a>
		</div>
		<div class="row d-flex flex-row justify-content-between parent">

			<div th:if="${Auth}" class="col-3" th:each="room : ${rooms}"
				th:object="${room}">
				<div th:if="${Auth.id==room.bookUserId}" th:cancel-able="1" th:book-id="*{bookingId}"
					th:id="*{id}" th:flag="*{lendFlag}" th:choose="0"
					class="text-center py-5 border room" th:text="*{roomNumber}"
					style="border-radius: 15px; margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1}? 'background-color: #03A800;cursor: pointer;' :'background-color: white; cursor: pointer' ">
				</div>
				<div th:if="${Auth.id!=room.bookUserId}" th:id="*{id}"
					th:flag="*{lendFlag}" th:choose="0"
					class="text-center py-5 border room" th:text="*{roomNumber}"
					style="border-radius: 15px; margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1}? 'background-color: #E1E1E1;cursor: not-allowed! important;' :'background-color: white; cursor: pointer' ">
				</div>
			</div>
			<!--  -->
			<div th:if="${Auth==null}" class="col-3" th:each="room : ${rooms}"
				th:object="${room}">
				<div th:id="*{id}" th:flag="*{lendFlag}" th:choose="0"
					class="text-center py-5 border room" th:text="*{roomNumber}"
					style="border-radius: 15px; margin-bottom: 20px; user-select: none;"
					th:styleappend="*{lendFlag==1} ? 'background-color: #E1E1E1;cursor: not-allowed! important;' : 'background-color: white; cursor: pointer' ">
				</div>
			</div>


			<form name="create-booking" th:action="@{/booking/create}" method="post">
				<input name="id" type="hidden" value="0">
			</form>

			<div id="cretae-booking"
				class="btn btn-primary mt-3 d-flex flex-row justify-content-center"
				style="height: 45px; border-radius: 10px">予約</div>
		</div>
		<div class="my-5 py-5"></div>
	</div>
	<!-- MOdels -->
	<div th:replace="fragments/cancel_model :: cancelRoomModel"></div>
	<div th:replace="fragments/success_model :: successBookingModel"></div>

	<script>
		$(document).ready(function() {
			// cancel MOdel
			// model on close event
			$('#cancelRoomModel').on("hidden.bs.modal", function () {
				let modelContents = $('#cancelRoomModel > div > div').children();
				let modelBody;
				modelContents.each((index,element)=>{
					if(($(element).attr('class')).includes('modal-body')){
						modelBody = $(element);
					}
				})
				modelBody.text('の予約をキャンセルします、よろしいでしょうか？');
			});
			$('#cancelRoomModel-close').click(()=>{
				$('#cancelRoomModel').modal('hide');
			})
			// model on close event
			
			// cancel MOdel
			
			// success Model 
			$('#successBookingModel-close').click(()=>{
				$('#successBookingModel').modal('hide');
			})
			
			// check msg from msgDeliveryAgent
			let orderSuccess = $("input[name='order-success']");
			if(orderSuccess.attr('value')){
				$("#successBookingModel > div > div > div[name='modal-body']").text(orderSuccess.attr('value'));
				$("#successBookingModel").modal('show');
			}
			// success Model
			
			// select
			$('.room').click(function(e) {
				let id = this.id;
				let avaliable = $(this).attr('flag') == 0 ? true : false;
				let isSelected = $(this).attr('choose') == 1 ? true : false;
				let cancelAble = $(this).attr('cancel-able') == 1? true : false;
				let bookingId = $(this).attr('book-id');
				let roomNumber = $(this).text();
				if (avaliable) {
					if (isSelected) {
						$(this).css('background-color', 'white');
						$(this).attr('choose', '0');
						$('input[name="id"]').attr('value','');
					} else {
						$(this).css('background-color', '#09E705');
						$(this).attr('choose', '1');
						$('input[name="id"]').attr('value',id);
						release(id);
					}
				}else if(cancelAble){
					// here cancel booking
					let cancelModel = $('#cancelRoomModel');
					// search and injection of Model's Body text
					let modelContents = $('#cancelRoomModel > div > div').children();
					let modelBody;
					modelContents.each((index,element)=>{
						if(($(element).attr('class')).includes('modal-body')){
							modelBody = $(element);
						}
					})
					modelBody.text(roomNumber +' '+ modelBody.text());
					// search and injection of Model's Body text
					// inject id to form
					let idInput = $('#cancelRoomModel > div > div > form > input[name="id"]');
					let bookingIdInput = $('#cancelRoomModel > div > div > form > input[name="bookingId"]');					
					idInput.attr('value',id);
					bookingIdInput.attr('value',bookingId);
					// inject id to form
					cancelModel.modal('show');
				}
			});
			// relse
			const release = (current)=>{
				$('.parent > div > div').each(function() {
					let id = this.id;
					let avaliable = $(this).attr('flag') == 0 ? true : false;
					// let isSelected = $(this).attr('choose') == 1 ? true : false;
					// console.log($(this)); //log every element found to console output
					if(current!=id && avaliable){
						$(this).css('background-color', 'white');
						$(this).attr('choose', '0');
					}
				});
			}
			// booking function
			// th:action="@{/booking/create}"
			$("#cretae-booking").click((e)=>{
				let roomId = $('input[name="id"]').attr('value');
				console.log(roomId);
				if(roomId>0){
					$("form[name='create-booking']").submit();
				}else{
					alert("Please Select Room First");
				}
			});
			const booking = ()=>{
				
			}
		});
	</script>
</body>
</html>